<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                Math Quiz Site
            </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <% if(!locals.jwt) { %>
          <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <% } %>
          <% if(locals.jwt) { %>
          <li><a href="/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          <% } %>
        </ul>

        <ul class="nav navbar-nav">
            <% if(locals.jwt) { %>
            <li><a href="/quizzes/jwt/<%=jwt%>">All Quizzes</a></li>
            <li><a href="/results/jwt/<%=jwt%>">Results</a></li>
            <% } %>
        </ul>
    </div>
</nav>
