extends ./layout.jade

block title
  title Login

block content
  form(action="/" method="POST")
    h2 Sign In
    label(for="inputEmail") Email Address
    input(id="inputEmail" type="email" name="email" required autofocus)
    label(for="inputPassword") Password
    input(type="password" id="inputPassword" name="password" required)
    button(type="submit") Sign In
