doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="description" content="")
    meta(name="author" content="Wes Basinger")
    link(rel="icon" href="")
    link(rel="stylesheet" href="../assets/css/style.css")
    block title
      title QuizGenApp
    body
      block content
