<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body class="container">

    <header>
        <% include partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Register</h1>
            <form action="/register" method="post">
              <label for="inputEmail">Email</label>
              <input type="email" name="email" id="inputEmail" required autofocus>
              <label for="inputPassword">Password</label>
              <input type="password" name="password" required>
              <label for="confirmPassword">Confirm Password</label>
              <input type="password" name="confirm-password" required>
              <button type="submit">Submit</button>
            </form>
        </div>
    </main>

    <footer>
        <% include partials/footer %>
    </footer>

</body>
</html>
